.vs/Low-Poly Game/v15/Browse.VC.db
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/CAMERA-db574f68/CAMERA.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/CHUNK-d9b23638/CHUNK.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/CHUNK_MANAGER-925593d2/CHUNK_MANAGER.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/CHUNK_MANAGER-f49d94b7/CHUNK_MANAGER.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/FAST_NOISE-5b2c060a/FAST_NOISE.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/MAIN-e37c4ce4/MAIN.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/MESH-2e4c432c/MESH.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/MESH-d88ca591/MESH.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/MOUSE-e798aa88/MOUSE.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/PLAYER-e490de0c/PLAYER.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/TIMER-5e5e400/TIMER.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/RENDERER-e595b516/RENDERER.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/WORLD-7d202967/WORLD.ipch
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/TIMER-de00165/TIMER.ipch
Low-Poly Game/Debug/Low-Poly Game.tlog/CL.command.1.tlog
.vs/Low-Poly Game/v15/ipch/AutoPCH/LOW-POLY GAME-de422ee5/WINDOW-69e46757/WINDOW.ipch
Low-Poly Game/Debug/Low-Poly Game.tlog/CL.read.1.tlog
Low-Poly Game/Debug/Low-Poly Game.tlog/CL.write.1.tlog
Low-Poly Game/Debug/Low-Poly Game.tlog/link.read.1.tlog
Low-Poly Game/Debug/Low-Poly Game.tlog/Low-Poly Game.lastbuildstate
Low-Poly Game/Debug/Low-Poly Game.tlog/link.write.1.tlog
Low-Poly Game/Debug/Low-Poly Game.tlog/link.command.1.tlog
Low-Poly Game/Debug/chunk_manager.obj.enc
Low-Poly Game/Debug/vc141.idb
.vs/Low-Poly Game/v15/Browse.VC.opendb

**/[Dd]ebug/
[Dd]ebug/

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Typescript v1 declaration files
typings/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/